<!doctype html>
<html lang="en">
    <head>
    <title>MY Career Website </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
          #banner{
            height: 360px;
            width: 100%;
            object-fit: center;
            margin-bottom: 16px;
          }
    </style>
</head>
   
<body>
    {% include 'nav.html' %}
    <img class="img-fluid" id="banner" src="/static/webcareer.jpg" >
    <div class="container">
        <h1 class="text-center mt-4 mb-2"> About {{companyname}} </h1>
        <div class="row" style="margin-bottom:16px;">
            <div class="col-md-6">
        <p class="lead mt-4 mb-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
    <div class="d-none d-md-block col-md-6">
        <img src="/static/people.jpg" style="height:340px; border-radius:4px;">
    </div>
    </div>
        <h2 class="text-center mt-4 mb-2">Open Positions</h2>
        <div class="lead mt-4 mb-2">
           {% for job in jobs %}
           {% include 'jobitam.html' %}
           {% endfor %}
        </div>
        <div style="text-align: center;">
        <a href="mailto:prasadmhatre1297@gmail.com?subject=Application%20for%20contacts&body=My%20Name%3A%20%3CYour%20Name%20Here%3E%0D%0AMy%20Resume%20Link%20%3A%20%3CResume%20link%3E%0D%0AMy%20Linkdin%20Link%20%3A%20%3CLinkdin%20Link%3E" class="btn btn-primary btn-lg">Contact US</a>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>